.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 40px;
  background: transparent;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 80px;
  width: auto;
  display: block;
}


.logo-text {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-right a {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-right a:hover {
  color: #f0f0f0;
}
