<div *ngIf="carDetails" class="car-page">
  <div class="car-container">
    <div class="car-photo">
      <img *ngIf="carImageUrl" [src]="carImageUrl" [alt]="carDetails.make + ' ' + carDetails.model" />
    </div>

    <div class="car-content">
      <h1 class="car-heading">{{ carDetails.make }} {{ carDetails.model }} {{ carDetails.year }}</h1>

      <div class="car-price">
        {{ carDetails.price | currency:'EUR':'symbol':'1.0-0' }}
        <span class="badge">Preț Special</span>
      </div>

      <div class="car-specs">
        <div><i class="fa fa-tachometer-alt"></i> {{ carDetails.milleage | number }} km</div>
        <div><i class="fa fa-gas-pump"></i> {{ carDetails.fuelType }}</div>
        <div><i class="fa fa-cogs"></i> {{ carDetails.transmission }}</div>
        <div><i class="fa fa-flag"></i> {{ carDetails.status }}</div>
      </div>

      <div class="car-description">
        <h2>Descriere</h2>
        <p>{{ carDetails.description }}</p>
      </div>

      <div class="car-meta">

        <p><strong>Postat:</strong> {{ carDetails.createdAt | date:'dd MMM yyyy' }}</p>
      </div>

      <div class="button-container">
        <button class="cta-button" (click)="displaySellerId()">Show Seller ID</button>
        <button class="cta-button" (click)="addToFavorites()">Add to Favorites</button>
      </div>
    </div>
  </div>
</div>
