<nav class="navbar">
  <div class="navbar-brand">TurboCars.ro</div>
  <ul class="navbar-links">
    <li><a href="/cars">Cars</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>

<div class="auth-form">
  <h1>TurboCars.ro</h1>


  <form [formGroup]="registerForm" (ngSubmit)="onsubmit()">
    <!-- Register fields (only shown in register mode) -->

    <input type="text" formControlName="firstName" name="firstName" placeholder="First Name" required>
    <div class="error-feedback" *ngIf="hasDisplayableError('firstName')">
      <div *ngIf="registerForm.controls['firstName'].hasError('required')">
        Please enter your first name.
      </div>
    </div>
    <input type="text" formControlName="lastName" name="lastName" placeholder="Last Name" required>
    <div class="error-feedback" *ngIf="hasDisplayableError('lastName')">
      <div *ngIf="registerForm.controls['lastName'].hasError('required')">
        Please enter your last name.
      </div>
    </div>
    <input type="text" formControlName="username" name="username" placeholder="Username" required>
    <div class="error-feedback" *ngIf="hasDisplayableError('username')">
      <div *ngIf="registerForm.controls['username'].hasError('required')">
        Please enter your username.
      </div>
    </div>
    <!-- Common fields (always shown) -->
    <input type="email" formControlName="email" name="email" placeholder="Email" required>
    <div class="error-feedback" *ngIf="hasDisplayableError('email')">
      <div *ngIf="registerForm.controls['email'].hasError('required')">
        Please enter your email address.
      </div>
      <div *ngIf="registerForm.controls['email'].hasError('email')">
        Please enter a valid email address.
      </div>
    </div>
    <input type="password" formControlName="password" name="password" placeholder="Password" required>
    <div class="error-feedback" *ngIf="hasDisplayableError('password')">
      <div *ngIf="registerForm.controls['password'].hasError('required')">
        Please enter your password.
      </div>
      <div *ngIf="registerForm.controls['password'].hasError('minlength')">
        Password must be at least 6 characters long.
      </div>
      <div *ngIf="registerForm.controls['password'].hasError('maxlength')">
        Password cannot exceed 20 characters.
      </div>
    </div>
    <input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
           required>
    <div class="error-feedback" *ngIf="hasDisplayableError('confirmPassword')">
      <div *ngIf="registerForm.controls['confirmPassword'].hasError('mismatch')">
        Passwords do not match.
      </div>
    </div>
    <button type="submit">Register</button>

  </form>

  <div class="switch-mode">
    <p>Already have an account?</p>
    <a href="/login">Login</a>
  </div>
</div>


